/* BWH - Screen CSS 
   Copyright [ bushwisehosting.com | bushwise.net ] 2008 
--------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff url(../../imgs/shared/bgHeader.gif) repeat-x;
  text-align: justify;
  color: #4a4a4a;
}
#headLogo, #mainContWrapper, #footer {
  width: 880px;
  margin: 0 auto;
}

/* Head Logo and Slogan
--------------------------------------------------------------------*/
#headWrapper {
  width: 100%;
  border-bottom: 2px solid #8b4d00;
}
#headLogo {
  background: #d56e22 url(../../imgs/shared/bwhLogoRndl.png) no-repeat 0 19px;
  letter-spacing: 1px;
  height: 80px;
  color: #f9f9f9;
}
#headLogo h1 {
  float: left;
  margin: 28px 0 0 84px;
  font-size: 24px;
}
#headLogo p {
  float: left;
  padding: 28px 0 0 12px;
  font-style: italic;
}
#headLogo .logoRh {
  float: right;
  text-align: right;
  padding: 60px 0 0 0;
  color: #8b4d00;
}

/* Head Horiz Menu
--------------------------------------------------------------------*/
#headMenu {
  background-color: #d56e22;
  width: 880px;
  margin: 4px auto 0 auto;
  height: 36px;
}
#headMenu ul {
  list-style: none;
}
#headMenu li {
  display: inline;
}
#headMenu a {
  background-color: #f6c387;
  border: 2px solid #8b4d00;
  float: left;
  display: block;
  height: 14px;
  margin: 0 5px 0 0;
  padding: 7px 18px 7px 14px;
  text-decoration: none;
  color: #8b4d00;
}
#headMenu .menuRh a {
  margin: 0 0 0 5px;
}
#headMenu a:hover {
  background: #fae067;
  color: #222;
}
#headMenu .menuCurrent a {
  background: #fea017;
  color: #222;
}
#headMenu a:before {
  content: url(../../imgs/shared/iconNavNext.png);
  margin: 0 4px 0 0;
}
#headMenu .menuCurrent a:before {
  content: url(../../imgs/shared/iconNavHere.png);
  margin: 0 4px 0 0;
}
#headMenu .menuRh {
  float: right;
  text-align: right;
}

/* Main Content Area
--------------------------------------------------------------------*/
#mainCont {
  float: left;
  width: 600px;
  margin: 30px 50px 0 0;
  line-height: 20px;
}

/* Vert Right Hand Nav
--------------------------------------------------------------------*/
#vertRhNav {
  float: right;
  width: 230px;
  margin: 30px 0 0 0;
}
#vertRhNav ul {
  list-style: none;
  margin: 0 0 12px 0;
}
#vertRhNav .navHeader {
  width: 226px;
  padding: 4px 0 4px 4px;
  color: #d56e22;
  border-bottom: 2px solid #e9ba98;
}
#vertRhNav .navHeader:before {
  content: url(../../imgs/shared/iconEye.png);
  margin: 0 1px 0 0;
}
#vertRhNav li a, #vertRhNav .navCurrent  {
  display: block;
  text-decoration: none;
  padding: 6px 0 6px 4px;
  width: 226px;
  border-bottom: 1px dotted #e9ba98;
  color: #777;
}
#vertRhNav li a:before, button:before  {
  content: url(../../imgs/shared/iconNavNext.png);
  margin: 0 5px 0 0;
}
#vertRhNav li a:hover  {
  color: #ed9023;
}
#vertRhNav .navCurrent {
  font-weight: bold;
  font-style: italic;
}
#vertRhNav .navCurrent:before {
  content: url(../../imgs/shared/iconNavHere.png);
  margin: 0 1px 0 0;
}

/* Footer
--------------------------------------------------------------------*/
#footer {
  clear: both;
  padding: 12px 0;
  border-top: 2px solid #e0e0e0;
}

/* Shared Layout Classes
--------------------------------------------------------------------*/
.halfL, .halfR, .halfFL, .halfFR {
  width: 46%;
}
.halfL, .halfR {
  padding: 8px ;
  border: 2px solid #ed9023;
  margin: 6px 0;
}
.halfL, .halfFL {
  float: left;
}
.halfR, .halfFR {
  float: right;
}
.infoTbWrapper {
  width: 600px;
  margin: 18px 0 24px 0;
}
.infoTbL, .infoTbR, .infoTbBody {
  padding: 8px;
}
.infoTbL, .infoTbR {
  background-color: #f6c387;
  border-bottom: 1px solid #d56e22;
}
.infoTbL {
  background-color: #e8b086;
  border-right: 1px solid #efcaaf;
  float: left;
  width: 446px;
  font-weight: bold;
  color: #fff;
}
.infoTbR {
  float: right;
  width: 121px;
  text-align: right;
  font-style: italic;
  color: #d56e22;
}
.infoTbBody {
  clear: both;
  border-right: 1px solid #f6c387;
  border-bottom: 1px solid #f6c387;
  border-left: 1px solid #f6c387;
}
.padBlank {
  clear: both;
  height: 12px;
}
.tdL {
  float: left;
  width: 42px;
  text-align: right;
  margin: 0 2px 0 0;
}

/* Shared Text & Image Classes
--------------------------------------------------------------------*/
.hide {
  display: none;
}
.shoutBoxL, .shoutBoxR {
  width: 125px;
  font: 17px 'Comic Sans MS', Arial, Helvetica, sans-serif;
  line-height: 24px;
  text-align: center;
  color: #c0c0c0;
}
.shoutBoxL {
  float: left;
  padding: 0 4px 4px 0;
}
.shoutBoxR {
  float: right;
  padding: 0 0 4px 4px;
}
.req {
  color: #6d9ab9;
  font-style: italic;
  border-bottom: 1px solid #79c5ff;
}
.txtR {
  text-align: right;
}
.smTxt {
  font-size: 10px;
  line-height: 15px;
}
.brB {
  clear: both;
}
.bgGrey {
  background: #f6f6f6;
}
.bgGrey b {
  color: #8b4d00;
}
.uc {
  text-transform: uppercase;
}
.uc .smTxt {
  text-transform: capitalize;
  font-style: italic;
  color: #8b4d00;
}
.imgL {
  float: left;
  margin: 5px 10px 4px 0;
  padding: 6px;
  border: 1px solid #777;
}
.imgL:hover {
  border: 1px solid #ed9023;
}
.smTxtImg {
  margin: 0 0 -2px 0;
}
.bigTxt {
  font-size: 14px;
}
/*.smImgL, .smImgC {
  float: left;
}
.smImgL, .smImgR {
  margin: 0 0 3px 0;
}
.smImgC {
  margin: 0 3px 3px 3px;
}
.smImgR {
  float: right;
}*/

/* Links
--------------------------------------------------------------------*/
#mainCont a, #mainCont a:visited, #mainCont a:active,
#footer a, #footer a:visited, #footer a:active {
  text-decoration: none;
  border-bottom: 1px dotted #c93;
  color: #888; /* c93 639 */
}
#mainCont a:hover, #footer a:hover {
  color: #4a4a4a;
  border: none;
}
#mainCont h4 a {
  border: none;
  color: #ed9023;
}
a.extLink:after {
  content: url(../../imgs/shared/iconExtLink.png);
  margin: 0 0 0 4px;
}

/* Typography
--------------------------------------------------------------------*/
body, select, textarea, .txtInput, button, td {
  font: 12px 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
#headLogo h1, #vertRhNav .navHeader, .smTxt, .bigTxt, h2, h3, h4, h5  {
  font-family: Verdana, sans-serif;
}
code, pre {
  font: 12px 'Courier New', Courier, monospace;
}
code {
  font-weight: bold;
  color: #66c;
}
code.norm {
  font-weight: normal;
}
pre {
  color: #f39;
}
#headLogo h1, h2, acronym {
  letter-spacing: 1px;
}
#headLogo h1, h2, h3, h4, h5 {
  font-weight: normal;
}
h2 {
  font-size: 20px;
  margin: 0 0 8px 0;
  color: #bb6625;
}
h3, h4, h5 {
  color: #d56e22;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 13px;
}
h5 {
  font-size: 11px;
  margin-bottom: -14px;
}
p {
  margin: 12px 0
}
abbr {
  text-decoration: none;
  border: none;
  color: #960;
}
abbr:hover {
  cursor: help;
}
sup {
  font-size: 8px;
  color: #f00;
}
fieldset br {
  clear: both;
}
blockquote, blockquote.norm {
  margin: 12px 30px 12px 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
  color: #999;
}
blockquote.norm {
  margin: 0;
}

/* Lists
--------------------------------------------------------------------*/
#mainCont ul { 
  list-style-image: url(../../imgs/shared/iconStar.png);
  margin: 12px 0 12px 36px;
}
ol {
  margin: 12px 0 12px 36px;
}
ol.romanL {
  list-style-type: lower-roman;
}
ol.alphaL {
  list-style-type: lower-alpha;
}
ol.padL {
  margin: 0 0 12px 24px;
}
dt {
  background: #f2f2f2;
  margin: 12px 0;
  padding: 1px 8px;
  letter-spacing: 1px;
  font-weight: bold;
  border: 1px solid #e9ba98;
}
dd {
  margin: 6px 0 6px 30px;
  padding: 8px;
  border: 1px solid #ddd;
}
dd b {
  color: #00f;
}

/* Forms
--------------------------------------------------------------------*/
select, button, label {
  cursor: pointer;
}
fieldset {
  background-color: #f6f6f6;
  width: 100%;
  margin: 18px 0;
  padding: 24px 0 12px 12px;
  border: 1px solid #8b4d00;
  color: #8b4d00;
}
label {
  float: left;
  width: 65px;
  text-align: right;
  margin: 0 6px 0 0;
  white-space: pre;
}
select, textarea, .txtInput {
  background: #f2eee7 url(../../imgs/shared/bgFields.png) top left repeat-x;
  float: left;
  padding: 2px;
  margin: 0 6px 20px 0;
  border: 2px solid #ed9023;
  color: #222;
}
select option {
  margin: 0 4px 4px 6px;
}
textarea {
  width: 75%;
  height: 80px;
}
button { 
  background-color: #fff;
  padding: 3px 6px;
  border: 2px solid #d56e22;
  margin: 6px 20px 12px 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #000;
}
button:hover {
  background-color: #fae067;
  color: #222;
}
button:active {
  background-color: #f00;
  color: #fff;
}

/* Tables
--------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  width: 100%;
  margin: 6px 0 18px 0;
}
th, td {
  border: 1px solid #8b4d00;
  line-height: normal;
}
th {
  background-color: #f6c387;
  padding: 4px 6px;
  text-align: left;
  color: #fff;
}
td {
  padding: 8px 6px;
}
td.three {
  color: #f6c387;
  border: 1px solid #f6c387;
  padding: 8px 12px 4px 0;
  text-align: right;
  font-style: italic;
  font-size: 11px;
}
tr.rowOdd {
  background-color: #fff;
}
tr.rowEven {
  background-color: #f0f0f0;
}

/* Proprietary Tags & CSS-3
--------------------------------------------------------------------*/

/* --- O P A C I T Y
....................................................................*/
select, textarea, .txtInput, button, a img {
  -moz-opacity: 0.55;
  opacity: 0.55;
}
button:hover, select:hover, textarea:hover, .txtInput:hover, 
button:focus, select:focus, textarea:focus, .txtInput:focus, a:hover img {
  -moz-opacity: 1.00;
  opacity: 1;
}

/* --- R O U N D E D   B O R D E R S
....................................................................*/
#headMenu a, .halfL, .halfR, .imgL, dt, dd, fieldset, textarea, .txtInput, button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
/* TOP LEFT */
select, .infoTbL {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
}
/* BOTTOM LEFT */
select, .infoTbBody {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
}
/* TOP RIGHT */
.infoTbR {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
}
/* BOTTOM RIGHT */
.infoTbBody {
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* --- S H A D O W S
....................................................................*/
#vertRhNav a:hover, .imgL:hover, button:hover, select:hover, textarea:hover, .txtInput:hover {
  -webkit-box-shadow: 3px 3px 4px #ddd;
  box-shadow: 3px 3px 4px #ddd;
}

/* =====================
#headLogo h1 {
  text-shadow: 2px 2px 4px #333;
}
#vertRhNav .navCurrent, .shoutBoxL, .shoutBoxR {
  text-shadow: 1px 1px 2px #ddd;
}
table, .imgL, .halfL, .halfR, .infoTbBody, .infoTbR, .infoTbL, dt, dd, fieldset,
button:hover, select:hover, textarea:hover, .txtInput:hover {
  box-shadow: 3px 3px 4px #ddd;
  -webkit-box-shadow: 3px 3px 4px #ddd;
}
===================== */
